.cards {
    display: grid;
    gap: calc(var(--space-md) * 1.5);
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.card {
    background: var(--color-surface);
    color: var(--color-text);
    border-radius: var(--radius-md);

    padding: clamp(1rem, 2vw, 1.5rem);

    box-shadow: var(--shadow-md);

    display: flex;
    flex-direction: column;

    .card-tag {
        background: var(--color-accent);
        color: var(--color-surface);

        padding: 0.25rem 0.5rem;

        border-radius: var(--radius-md);

        width: fit-content;

        margin-bottom: var(--space-sm);
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }
}