.temples {
    display: grid;
    gap: var(--space-sm);

    li {
        display: flex;
        justify-content: space-between;

        background: var(--color-surface);
        color: var(--color-text);

        padding: var(--space-md);

        border-radius: var(--radius-md);
    }
}

.temple-status.open {
    color: var(--color-success);
}

.temple-status.construction {
    color: var(--color-warning);
}